# TODO: unify S3 credentials
HTTP_PROXY=http://172.17.0.1:7890
HTTPS_PROXY=http://172.17.0.1:7890
NO_PROXY=localhost,127.0.0.1

LLM__VISION_URL=
LLM__SERVICE_KEY=
OPENAI_API_KEY=
LLM__ALLOWED_PROVIDERS=

ROOT_DIR=

HOSTS_PORTS__OPENCHEMIE_HOST=
HOSTS_PORTS__OPENCHEMIE_PORT=

# S3 credentials for explore_my_papers tool
S3__ENDPOINT_URL=
S3__ACCESS_KEY=
S3__SECRET_KEY=
S3__BUCKET_NAME=

### New vars ###

EMBEDDINGS_TYPE=api
EMBEDDINGS_API_URL=http://0.0.0.0:5002/embed
EMBEDDINGS_BATCH_SIZE=8

RERANKING_TYPE=api
RERANKING_API_URL=http://0.0.0.0:5001/rerank
RERANKING_BATCH_SIZE=8

CHROMADB_HOST=0.0.0.0
CHROMADB_PORT=9941
CHROMADB_COLLECTION=collection_name

# S3 credentials for new RAG
S3_ENDPOINT=http://0.0.0.0:9000
S3_ACCESS_KEY=user
S3_SECRET_KEY=password
S3_PUBLIC_BUCKET=bucket-name